body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
}

.img-banner {
    width: 100%;
}

.img-product {
    width: 50%;
}

.topnav {
    margin-top: 3%;
    margin-bottom: 3%;
}

.topnav input[type=text] {
    width: 30%;
    margin-left: 3%;
}

.fa-search {
    background-color: #ebebeb;
    border-style: solid;
    border-width: 1px;
}

.compra-tc-cuotas {
    text-align: center;
}

.nav-icon {
    margin-left: 2px;
}

.burger-menu {
    text-align: center;
    font-size: 1.2rem;
}

.fa-bars {
    color: #ffff;
    padding: 3px;
    text-align: center;
    background-color: #1259c3;
    margin: 2%;
    border-radius: 13%;
}

h2 {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
}

.description {
    font-size: 16px;
}
